.Card{
    height: 75px;
    background-color: #fff;
    border-radius: 7px;
    padding: 0 30px;
    margin-top: 10px;
    line-height: 60px;
    font-size: 15px;
    display: flex;
    align-items: center;
}