:global(.ant-layout-sider-children > ul li div) {
    color: rgba(255, 255, 255, 0.65)!important;
}
:global(.ant-layout-sider-children > ul li div:hover) {
    color: #fff !important;
}
:global(.site-layout) {
    transition: all 0.2s;
}


.Logo{
    width: 100%;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding: 20px auto ;

}


.FixedHeader{
    display: flex;
    align-items: center;
}

.LayoutSider{
    overflow: auto;
    height: 100vh;
    position: fixed;
    inset-inline-start: 0;
    top: 0;
    bottom: 0;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.layoutHeader{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 1000;
    background-color: #fff;
}


.content{
    min-height: 280px;
    margin: 24px 16px;
    overflow: hidden;
}


.titleSpan{
    white-space: nowrap;
}